extends layout

block content
  .span9.offset2
    #pins.pins.span9
    ul#pager.pager
      li.previous.disabled
        a(href="#") &larr; Newer
      li.next.disabled
        a(href="#") Older &rarr;
    #tagModal.modal.fade.hide

  .span2
    .filters
      .module
        h4 Tags
        #tags
