!!! 5
html
  head
    title Pinned

    link(href="css/main.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Overlock", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel="stylesheet", type="text/css")

    script(src="js/head.min.js")
  body
    !{body}
  script
    head
      .js("js/path.min.js")
      .js("js/jquery.min.js")
      .js("js/jquery.masonry.min.js")
      .js("js/jquery.timeago.js")
      .js("js/app.js");

  - if (status)
      script
        head.ready(function(){ Pinned.status = true; });

  script(type="text/template", id="pin-template")
    div(class="pin pin-{{pin.id}} module")
      div
        a(href="{{pin.href}}", target="{{pin.target}}") 
          span.title {{pin.title}}
      div.module-footer
        a(href="{{pin.href}}", target="{{pin.target}}") {{pin.date}}

  script(type="text/template", id="login-template")
    form(class="login module", method="POST", action="#/")
      div
        h2 Login
      div.form
        - if (error)
          p.error #{error}
        p
          input(type="text", id="username", name="username", placeholder="Username")
        p
          input(type="password", id="password", name="password", placeholder="Password")
        p
          input(type="submit", value="Login", class="button")
      div.module-footer
        a(href="#/register") Register

  script(type="text/template", id="register-template")
    form(class="register module", method="POST", action="#/register")
      div
        h2 Register
      div.form
        - if (error)
          p.error #{error}
        p
          input(type="text", id="username", name="username", placeholder="Username")
        p
          input(type="email", id="email", name="email", placeholder="Email")
        p
          input(type="password", id="password", name="password", placeholder="Password")
        p
          input(type="password", id="confPassword", name="confPassword", placeholder="Confirm Password")
        p
          input(type="submit", value="Register", class="button")
      div.module-footer
        a(href="#/") Back to login
