!!! 5
html
  head
    title Pinned

    link(href="css/main.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Overlock", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300", rel="stylesheet", type="text/css")

  body
    #wrap
      header.header
        h1 
          a(href="/") Pinned
        ul.nav
          - if (bookmarklet)
            li
              a(href=bookmarklet, title="Pin This") 'Pin This' Bookmarklet
          li
            a(href="/logout") Logout

      section.content
        !{body}

      footer.footer
        p 
          span Pinned - &copy; 2012 
          a(href="https://github.com/ncb000gt/pinned") Github 
          a.logout.alignRight(href="/logout") Logout
    .scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
      script(src="/js/app.js")
