!!! 5
html
  head
    title Pinned
    link(href="http://fonts.googleapis.com/css?family=Lobster", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Abel", rel="stylesheet", type="text/css")
    link(href="/css/pinned.css",rel="stylesheet",type="text/css")
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          h1.brand
            a.pull-left(href="/") Pinned
          ul.nav.pull-right
            - if (bookmarklet)
              li
                a(href=bookmarklet, title="Pin This") 'Pin This' Bookmarklet
            li
              a(href="/logout") Logout

    .container-fluid
      block content

    .navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          span Pinned - &copy; 2012 
          .pull-right
            a(href="https://github.com/ncb000gt/pinned") Github 
    .scripts
      script(data-main="/js/config",src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js")
