@import "bootstrap/bootstrap.less";

@bodyBackground: #ededed;
@linkColor: #0090ff;
@linkColorHover: darken(@linkColor, 10%); //#0073cc;
a:hover{
  cursor: pointer;
}
.container-fluid{
  padding: 115px 0 45px 0;
}
.navbar .brand{
  background: url("/img/pinned.logo.png") no-repeat 10px 10px;
  font-size:4em;
  height:68px;
  overflow: hidden;
}
.navbar .brand a{
  margin-left: 93px;
  margin-top: 10px;
}
.sans-serif, body {
  font-family: "Abel";
  font-weight: 400;
}
.title, h1, h2, h3, h4 {
  color: #3c3c3c;
  font-weight: 700;
  text-shadow: none;
}
.navbar h1.brand{ 
  font-family: "Lobster", sans-serif;
  text-shadow: none;
}
.title{
  margin: 0 0 3px 0;
  padding: 0;
  width: 110px;
}
.title p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pin{
  margin:0 7px 7px 0;
  padding:10px;
  height: 80px;
  width: 140px;
  overflow: hidden;
  background-color: #f8f8f8;
}
.pin-inner{
  width: 100px;
}
.pin-extra{
  border:1px solid;
  border-color: #f8f8f8;
}
.pin-extra:hover{
  border-color: @navbarLinkColorHover;
}
