<div class="pin-inner pull-left">
  <div>
    <a href="{{href}}" target="_blank" class="title"><p>{{title}}</p></a>
  </div>
  <div class="pin-info">
    <div class="module-footer">
      <div class="info">
        <div class="author">{{username}}</div>
        <div class="date">{{date}}</div>
      </div>
    </div>
  </div>
  <div class="pin-actions" style="display:none;">
    <a href="#" class="pin-moreinfo"><i class="icon-info-sign"></i> More Info</a>
    <a href="#" class="pin-tag"><i class="icon-tags"></i> Tag</a>
    <a href="#" class="pin-delete"><i class="icon-trash"></i> Delete</a>
  </div>
</div>
<a class="pin-extra pull-right">
  <i class="icon-chevron-left"></i>
</a>
