<div class="pin-inner pull-left">
  <div>
    <a href="{{href}}" target="_blank" class="title"><p>{{title}}</p></a>
  </div>
  <div class="pin-info">
    <div class="module-footer">
      <div class="info">
        <div class="author">{{username}}</div>
        <div class="date">{{date}}</div>
      </div>
    </div>
  </div>
  <div class="pin-actions" style="display:none;">
    <div><i class="icon-tags"></i> Tag</div>
    <div><i class="icon-trash"></i> Delete</div>
  </div>
</div>
<a class="pin-extra pull-right" style="width:15px;height:80px">
  <i class="icon-chevron-left" style="margin:33px 0"></i>
</a>
