@import "compass/reset"
@import "_bundle"
@import "_font"
@import "_general"

body
  @extend .sans-serif
  background:
    color: $w3
    image: url("images/pinned.bg.png")

#wrap
  width: $fwidth
  @extend .middle

  h1 
    @extend .padding-y
    @extend .alignLeft
    width: $hwidth
    a
      @extend .margin-x
      @extend .displace
      width: 64px
      height: 68px
      background:
        image: url("images/pinned.logo.png")
  nav

    // TEMPORARY
    display: none

    @extend .group
    @extend .padding-y
    @extend .alignLeft
    width: $hwidth
    

  .header
    @extend .group
    background:
      color: $w4
    border:
      bottom: 4px solid $w1

  .footer
    width: $fwidth
    position: fixed
    bottom: 0
    left: 50%
    margin-left: -$hwidth

    p
      @extend .padding
      @extend .small
      text-transform: uppercase
      color: $w0
      background:
        color: $w4
      border:
        top: 4px solid $w1

  .content
    @extend .padding-y
    padding-left: 18px
    .login, .register
      @extend .middle
      text-align: center
      width: $pwidth
      position: absolute
      top: 50%
      left: 50%
      margin-left: -($pwidth / 2)
      h2
        @extend .margin
      a
        background: none
        display: block
        margin: 0 0 14px

    .login
      $height: 256px
      min-height: $height
      margin-top: -($height / 2)
    
    .register
      $height: 350px
      min-height: $height
      margin-top: -($height / 2)

  .pin
    @extend .margin-y
    width: 220px

    .title
      @extend .large

  form

    .error
      @extend .medium
      @extend .margin
      color: $error

    input[type="text"], input[type="password"], input[type="email"]
      @extend .medium
      @extend .padding
      border: 0
      text-align: center
      margin: 14px 0 0
      +box-shadow(inset 0 1px 2px $w1)
      +border-radius(4px)
      background:
        color: $warn
      
      &:focus
        background:
          color: $w4

    input[type="submit"], button
      @extend .small
      @extend .padding
      @extend .middle
      +border-radius(4px)
      cursor: pointer
      display: block
      width: $mwidth
      border: 0
      text-align: center
      background: 
        color: $b0
      margin-top: 14px
      margin-bottom: 14px
      color: $w5

      &:hover
        background:
          color: $b1
      


